# See https://help.github.com/ignore-files/ for more about ignoring files.


**/.settings

# GRADLE IGNORES
**/.gradle
gradle/*
**/build
**/.idea
**/*.iml
gradlew
gradlew.bat
gradle/wrapper/

**/*.iws
**/*.log
**/*.log.*
**/deploy/
**/out

/log

**/bin
**/.settings
**/.classpath
.vscode
**/.project

# dependencies
/webapp/node_modules

# testing
/webapp/coverage

# production
/server/resources/public/*
/webapp/log
/webapp/dist

dist
.DS_Store
