.user {
  cursor: pointer;
  padding: 10px;
  flex: 1 1 180px;
}

.user:hover {
  color: blue;
}

.user-container {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.select-container {
  width: 24em;
  text-align: left;
  margin: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group-button {
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 150px;
  height: 35px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  background-color: #4a90e2;
  color: #ffffff;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background-color: rgba(0, 0, 0, 0.35);;
  z-index: 100;
}

.error {
  color: #ff585d;
  position: absolute;
  bottom: 10px;
  font-size: 12px;
}

.password-label {
  position: absolute;
  top: 10px;
  font-size: 12px;
}

.secret-santa {
  font-weight: bold;
  font-size: 25px;
}

.input-container {
  display: flex;
  margin: 5px;
}

.password {
  width: 175px;
  height: 25px;
}

.select-user-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .select-container {
    width: 15em;
  }

  .form-group-button {
    width: 94px;
  }

  div.ReactModal__Content--after-open {
    width: 12em !important;
  }
  
}